@media (max-width: 1000px) {
    .container-header {
        height: 10rem;
        justify-content: center;
        margin: 4rem 0 3rem 0;
    }

    .container-header h1 {
        font-size: 4rem;
        margin: 0 auto;
    }

    .container-options-conversion {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .input-value, .input-standard {
        font-size: 2.2rem;
        margin: 0 0 4rem 0;
    }

    .input-value {
        width: 34rem;
    }
    
    .input-standard{
        width: 34rem;
    }

    .container-value-converted {
        margin: 5rem auto 0 auto;
    }
    
    .container-value-converted p {
        font-size: 3.2rem;
    }
}

@media (max-width: 470px) {
    .container-header {
        height: 8rem;
        justify-content: center;
        margin: 3rem 0 2rem 0;
    }

    .container-header h1 {
        font-size: 2.5rem;
        margin: 0 auto;
    }

    .input-value, .input-standard {
        font-size: 1.8rem;
        margin: 0 0 2.5rem 0;
    }

    .input-value {
        width: 25rem;
    }
    
    .input-standard{
        width: 25rem;
    }

    .container-value-converted {
        width: 30rem;
    }
}
