@media (max-width: 900px) {

    header {
        height: 6rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color);
    }

    .title-page {
        font-size: 3rem;
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
    }

    .title-container {
        display: none;
    }

    .main-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 1.5rem 0 0 0;
    }

    .container-options-conversion {
        display: flex;
        flex-flow: column;
        margin: 0 0 2.3rem 0;
    }

    .container-options-conversion label {
        font-size: 2.5rem;
        text-align: left;
        margin: 0 0 2rem 0;
    }

    .container-value-converted {
        display: flex;
        flex-flow: column;
        align-items: center;
        height: auto;
        width: 30rem;
        margin: 0 0 3rem 0;
    }

    .container-value-converted h3 {
        font-size: 2.5rem;
        margin: 1.5rem 0 1.5rem 0;
    }
    
    .container-value-converted h4 {
        font-size: 2rem;
        margin: 0 0 1rem 0;
    }
    
    .container-value-converted p {
        font-size: 3rem;
        margin: 0 0 1rem 0;
    }

    footer {
        position: static;
        flex-flow: column;
        font-size: 2rem;
        text-align: center;
        height: auto;
    }

    .logomarca {
        height: 6rem;
        width: 6rem;
    }

    footer p {
        margin: auto;
        font-size: 2rem;
        padding-bottom: 2rem;
    }
}

@media (min-height: 820px) {
    footer {
        position: absolute;
        bottom: 0;
    }
};
