*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #09150D;
    --second-color: #C0E729;
    --third-color: #7C9B03;
    --fourth-color: #DFFAE8;
    --fifth-color: #0F2115;
    --gradient-1: #FFFFFF, #C0E729;
    --openSans:'Open Sans', sans-serif;
    --arimaMadurai: 'Arima Madurai', cursive;
}

html {
    font-size: 10px;
    font-family: sans-serif;
    background-color: var(--primary-color);
}

.container-header {
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: var(--primary-color);
    margin: 6rem 0 4rem 0;
}

.container-header h1 {
    font-size: 5rem;
    font-family: var(--arimaMadurai);
    font-weight: bold;
    color: var(--fourth-color);
    margin: 0 23rem;
}

.container-page {
    height: auto;
}

.container-options-conversion {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 0 8rem 0;
}

.input-value, .input-standard {
    height: 6.1rem;
    font-size: 3rem;
    font-family: var(--openSans);
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: var(--second-color);
    color: var(--primary-color);
    cursor: pointer;
    outline: none;
}

.input-value {
    width: 20rem;
}

.input-standard{
    width: 38.8rem;
}

.input-standard::placeholder {
    opacity: 10%;
    color: white;
}

.container-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-calculator {
    height: 6.1rem;
    min-width: 19.6rem;
    border-radius: 5px;
    background: linear-gradient(var(--gradient-1));
    font-size: 3rem;
    font-family: var(--openSans);
    font-weight: 400;
    color: var(--third-color);
    transition: ease-in-out .5s;
}

.btn-calculator:hover {
    transform: scale(1.1);
    color: var(--primary-color);
    cursor: pointer;
}

.container-value-converted {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 10rem;
    width: 40rem;
    border-radius: 5px;
    margin: 10rem auto 0 auto;
    background-color: var(--fifth-color);
}

.container-value-converted p {
    font-size: 6.4rem;
    font-family: var(--openSans);
    font-weight: 400;
    background-image: linear-gradient(var(--gradient-1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
