*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #205375;
}

html {
    font-size: 10px;
    font-family: 'Abhaya Libre', serif;
}

header {
    height: 12.4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.title-page {
    font-size: 4rem;
    color: #FFF;
}

.container-page {
    height: 80rem;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13rem;
    margin: 0 0 5rem 0;
}

.title-container h2 {
    font-size: 5rem;
    color: var(--main-color);
    text-shadow: 0 0 0 white;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
}

.container-options-conversion {
    display: flex;
    flex-flow: column;
}

.container-options-conversion label {
    display: flex;
    flex-flow: column;
    font-size: 3rem;
    text-align: left;
    margin: 0 0 3rem 0;
}

.input-standard{
    height: 5.6rem;
    width: 26.6rem;
    font-size: 3rem;
    text-align: center;
    border-radius: 2rem;
    background-color: var(--main-color);
    color: white;
    text-shadow: 0 0 0 #000;
}

.input-standard::placeholder {
    opacity: 10%;
    color: white;
}

#btn-calc {
    margin: 6rem 0 0 0;
    background-color: #4d94c4;
}

.container-value-converted {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 27.5rem;
    width: 58.9rem;
    margin: 9rem 0 0 0rem;
    border-radius: 2rem;
    background-color: var(--main-color);
    color: white;    
}

.container-value-converted h3 {
    margin: 3rem 0 1rem 0;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 0 0 0 #000;
}

.container-value-converted h4 {
    margin: 0 0 4rem 0;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 0 #000;
}

.container-value-converted p {
    font-size: 6.4rem;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

